<table class="table table-striped">
  <thead>
    <tr>
      <th><b>Nome do(a) Funcionário(a)</b></th>
      <th align="center"><b>Cargo</b></th>
      <th align="center"><b>Número Identificador</b></th>
      <th align="center"><b>Ações</b></th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let funcionario of funcionarios">
      <td>{{ funcionario.nomeFuncionario }}</td>
      <td align="center">{{ funcionario.cargo }}</td>
      <td align="center">{{ funcionario.numeroIdentificador }}</td>
      <td align="center">
        <a [routerLink]="['/funcionario/edit', funcionario._id]" class="btn btn-success">
          <fa name="edit"></fa> Editar
        </a>
        <button (click)="excluirFuncionario(funcionario._id)" class="btn btn-danger">
          <fa name="trash"></fa> Excluir
        </button>
      </td>
    </tr>
  </tbody>
</table>
